.contact1 {
  background-image: url("../../assets/Contact/Contact1.JPG");
}

.contact2 {
  background-image: url("../../assets/Contact/Contact2.JPG");
  background-position-y: top;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

label {
  margin-top: 15px;
}

input.ng-pristine.ng-invalid.ng-touched {
  border: solid rgb(209, 150, 132) 4px;
}

.form-text {
  color: rgb(209, 150, 132);
}

.form-text.low {
  color: rgb(150, 149, 149);
}

textarea.ng-pristine.ng-invalid.ng-touched {
  border: solid rgb(209, 150, 132) 4px;
}

textarea.ng-invalid.ng-dirty {
  border: solid rgb(150, 149, 149) 4px;
}

@media screen and (max-width: 250px) {
  .ptext {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .section {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .lgscreen {
    max-width: 1000px;
    margin: 0 auto;
  }
}
