 <!--Photo-->
 <div class="bgimg contactphoto1">
  <div class="ptext">
    <span class="box">
      ANY QUESTION?
    </span>
  </div>
</div>
<!--Text-->
<section class="section section-dark ">
  <!-- SECOND ONE - for formspree -->
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <h5 class='col-md-10'>FEEL FREE TO ASK!</h5>
      <div class="col-md-4 contact">
        <fa-icon [icon]="faPhone" size="3x"></fa-icon><br>
        <a href="tel:+48791901214">791 901 214</a>
      </div>
      <div class="col-md-4 contact">
        <fa-icon [icon]="faEnvelope"  size="3x"></fa-icon><br>
        <a href="mailto:sikorkinaszlaku@gmail.com">sikorkinaszlaku@gmail.com</a>
      </div>
      <div class="col-md-8">
        <br>
        <form class="align-left lgscreen" id='contact-form' (ngSubmit)='onSubmit(f)' #f='ngForm'>
          <label for="name">Your name</label>
          <input class='form-control' ngModel name='name' type="text">
          <label for="email">Your email*</label>
          <input class='form-control' name='email' type="email" #email='ngModel' ngModel required email>
          <span class='form-text' *ngIf='!email.valid && email.touched'>Please enter a valid email address!<br></span>
          <label for="subject">Subject</label>
          <input class='form-control' ngModel name='subject' type="text">
          <label for="message">Message*</label>
          <textarea name="message" id="message" cols="30" rows="10" minlength='10' class='form-control' #message='ngModel' ngModel required></textarea>
          <span class='form-text' *ngIf='!message.valid && message.touched && !message.dirty'>This field can not be empty!<br></span>
          <span class='form-text low' *ngIf='!message.valid && message.dirty'>Minimum of 10 characters is required!<br></span>
          <p class='align-right'>* required fields</p>
      </form>
      <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div *ngIf="messageSended">
        <p class="message">Your message was send successfully!</p>
        <button class="btn btn-success" type="button" (click)="onClose()">OK</button>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <p>Sorry! An error occurred! Please try again or use email address to send us message.</p>
        <button class="btn btn-danger" type="button" (click)="onCloseError()">OK</button>
      </div>
      <button type='submit' form='contact-form' class='btn btn-dark center' [disabled]='!f.valid'>Submit</button>
      </div>
    </div>
  </div>
</section>

 <!--Photo-->
 <div class="bgimg contactphoto2">
  <div class="ptext">
    <span class="box">
      WAIT FOR A REPLY
    </span>
  </div>
</div>
