.contactphoto1 {
  background-image: url("../../assets/Contact/Contact1.JPG");
}

.contactphoto2 {
  background-image: url("../../assets/Contact/Contact2.JPG");
  background-position-y: top;
}

h5 {
  margin-bottom: 30px;
}

.contact {
  align-items: center;
  margin: 20px 0;
}

.contact a {
  text-decoration: none;
  color: whitesmoke;
  /* display: block; */
  /* margin: 10px 20px 20px 0; */
}

.contact a:hover {
  text-decoration: underline overline;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

label {
  margin-top: 15px;
}

input.ng-pristine.ng-invalid.ng-touched {
  border: solid rgb(209, 150, 132) 4px;
}

.form-text {
  color: rgb(209, 150, 132);
}

.form-text.low {
  color: rgb(150, 149, 149);
}

textarea.ng-pristine.ng-invalid.ng-touched {
  border: solid rgb(209, 150, 132) 4px;
}

textarea.ng-invalid.ng-dirty {
  border: solid rgb(150, 149, 149) 4px;
}

.message {
  padding-top: 20px;
}

button {
  padding: 10px;
  margin: 15px;
}

@media screen and (max-width: 250px) {
  .mail a {
    font-size: 0.8em;
  }

  .ptext {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1200px) {
  .lgscreen {
    max-width: 1000px;
    margin: 0 auto;
  }
}
