<div class="bgimg travelsubs1">
  <div class="ptext">
    <span class="box">
      CURIOUS?
    </span><br>

  </div>
</div>
<section class="section section-dark">
  <div class="container-fluid">
    <p>
      OOPS!<br>You need to be logged in to see our favourite travel destinations!
    </p>
    <button class='btn btn-dark' (click)="goToLogin()">GO TO LOGIN</button>
  </div>
</section>
<div class="bgimg travelsubs2">
  <div class="ptext">
    <span class="box">
      HIT THE ROAD
    </span><br>
  </div>
</div>
