.travelsubs1 {
  background-image: url("../../assets/TravelSubs/TravelSubs1.JPG");
}

.travelsubs2 {
  background-image: url("../../assets/TravelSubs/TravelSubs2.jpg");
}

.btn-dark {
  padding: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 550px) {
  .btn-dark {
    margin-top: 15px;
  }
}

@media screen and (max-width: 370px) {
  .btn-dark {
    margin-top: 10px;
  }
}
