<div class="bgimg auth1 d-flex align-items-center justify-content-center">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-3 box-auth">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm='ngForm' (ngSubmit)='onSubmit(authForm)' *ngIf='!isLoading'>
      <div class="form-group">
        <label for='email'>EMAIL</label>
        <input type='email' id='email' name='email' class='form-control' ngModel required email>
      </div>
      <div class="form-group">
        <label for='password'>PASSWORD</label>
        <!-- firebase rest api requires us to have at least 6 characters long password -->
        <input type='password' id='password' name='password' class='form-control' #password='ngModel' ngModel required minlength='6'>
        <span class='form-text low' *ngIf='!password.valid && password.dirty'>Password must be at least 6 characters long!<br></span>
      </div>
      <div>
        <!-- When form is valid, after click Sign Up or Login -->
        <button class="btn btn-dark" type='submit' [disabled]='!authForm.valid'>
          {{ isLoginMode ? 'Login' : 'Sign Up'}}
        </button>
          |
        <!-- Click to switch mode SignUp/Login -->
          <button class="btn btn-dark" (click)="onSwitchMode()" type="button">
          Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
