.auth1 {
  background-image: url("../../assets/Auth1.JPG");
}

.form-group {
  padding: 10px;
}

.box-auth {
  justify-items: center;
  text-align: center;
  padding: 20px;
  background-color: #282e34;
}

.form-group {
  padding: 10px;
}

.form-group label {
  color: #ddd;
  font-size: 20px;
}

.form-text.low {
  color: rgb(150, 149, 149);
}

button {
  margin: 15px 5px 5px;
}
