 <!--Photo-->
 <div class="bgimg h2">
  <div class="ptext">
    <span class="border">
      BETTER TOGETHER
    </span>
  </div>
</div>
<!--Text-->
<section class="section section-dark">
  <div class="container">
    <p>
      We are couple of kitesurfing and snowboarding instructors. After we were graduated for Academy of Physical Education we got married and start travelling. Being homeless for last few years was something really great for us, but nobody gets younger:)
    </p>
  </div>
</section>
<div class="bgimg hm">
  <div class="ptext">
    <span class="border">
      MONIKA
    </span>
  </div>
</div>
<section class="section section-dark">
  <div>
    As a teenager she used to spent few hours daily in a stable. Taking part in the competition in dressage, show jumping and eventing was what she wanted to do all the time. Then she met Greg and he turned her life upside down. She started traveling and she learned how to kitesurf. Now she is passionate for strapless kitesurfing, but one day horses will come back to her life.
  </div>
</section>
<div class="bgimg hg">
  <div class="ptext">
    <span class="border">
      GREG
    </span>
  </div>
</div>
<section class="section section-dark">
  <div>
    Sportsman from a young age. Especially he
    likes all kind of board sports. Nature enthusiast, his best way to relax is to feel the smell of the forest and the wind in his hair. In winter he loves to hit the backcountry, fresh light snow is the best for him. Summertime he switches his snowboard for surfboard, with or without a kite.<br />Bigger wave = better day!
  </div>
</section>
<div class="bgimg h1">
  <div class="ptext">
    <span class="border">
      PASSION WITH LOVE
    </span>
  </div>
</div>
<!-- <div class="pimg11">
  <div class="ptext">
    <span class="border">
      SOCIAL MEDIA
    </span>
  </div>
</div>
<section class="section section-dark">
  <div>
    <h1>INSTAGRAM</h1>
    <p>
      You can find us on Instagram as well! By taking pictures we want to
      capture our best memories. We love to come back to them later:)
    </p>
<br>
    <script src="widget.js"></script>
    <iframe src="//lightwidget.com/widgets/c10106612d485acc8d2f3383c92efc36.html"
      scrolling="no"
      allowtransparency="true"
      class="lightwidget-widget"
    ></iframe><br>
  </div>
</section>

<script src="main.js"></script>
 -->
<footer>
  Kitesurfing photos taken by the great
  <a
    href="https://www.facebook.com/Prasonisi-Photo-109380803746091/"
    target="_blank"
    >Jan Smoliński</a
  ><br />
  Snowboard photos taken by wonderful
  <a
    href="https://www.facebook.com/Agnieszka-Zaj%C4%85c-Fotografia-1624950820922078/?__tn__=%2Cd%2CP-R&eid=ARD_JVBOo6ySbtlsUYUrxgqBIQ86ykCw-8wldyvSp1qhtig0St99VXqj4heq9hsS12Fzclh6pmG2mOU_"
    target="_blank"
    >Agnieszka Zając</a><br />
  Many thanks for amazing lycras to our partner
  <a href="https://www.nevrboard.com" target="_blank">Nevrboard</a><br />
  @2020 SikorkiNaSzlaku
</footer>
