.home1 {
  background-image: url("../../assets/Home/Home1.JPG");
}

.homemonika {
  background-image: url("../../assets/Home/HomeMonika.JPG");
  height: 60vh;
}

.homegreg {
  background-image: url("../../assets/Home/HomeGreg.jpg");
  height: 60vh;
}

.home2 {
  background-image: url("../../assets/Home/Home2.jpg");
}

@media screen and (max-width: 800px) {
  .homegreg {
    background-position: 0px;
  }
}

@media screen and (max-width: 550px) {
  .homegreg {
    background-position: -100px;
  }
}
