 <!--Photo-->
 <div class="bgimg home2">
  <div class="ptext">
    <span class="box">
      BETTER TOGETHER
    </span>
  </div>
</div>
<!--Text-->
<section class="section section-dark">
  <div class="container-fluid">
    <p>
      We are couple of kitesurfing and snowboarding instructors. After graduating from Academy of Physical Education, we got married and start travelling. Being homeless for last few years was something really great for us, but it's time to settle down. At least for a while:)
    </p>
  </div>
</section>
<div class="bgimg homemonika">
  <div class="ptext">
    <span class="box">
      MONIKA
    </span>
  </div>
</div>
<section class="section section-dark">
  <div>
    As a teenager she used to spent several hoursa day in a stable. She took part in dressage, show jumping and eventing competitions and that was what she wanted to do for the rest of her life. Then she met Greg and he turned everything upside down. She started traveling and she learned how to kitesurf. Now she is passionate for strapless kitesurfing, but one day horses will come back to her life.
  </div>
</section>
<div class="bgimg homegreg">
  <div class="ptext">
    <span class="box">
      GREG
    </span>
  </div>
</div>
<section class="section section-dark">
  <div>
    Sportsman from an early age. Especially he likes all kind of board sports. Nature enthusiast, his best way to relax is to feel the smell of the forest and the wind in his hair. In winter he loves to hit the backcountry, fresh light snow is the best for him. Summertime he switches his snowboard for surfboard, with or without a kite.<br />Bigger wave = better day!
  </div>
</section>
<div class="bgimg home1">
  <div class="ptext">
    <span class="box">
      PASSION WITH LOVE
    </span>
  </div>
</div>

