 <!--Photo-->
 <div class="bgimg home2">
  <div class="ptext">
    <span class="box">
      BETTER TOGETHER
    </span>
  </div>
</div>
<!--Text-->
<section class="section section-dark">
  <div class="container">
    <p>
      We are couple of kitesurfing and snowboarding instructors. After we were graduated for Academy of Physical Education we got married and start travelling. Being homeless for last few years was something really great for us, but nobody gets younger:)
    </p>
  </div>
</section>
<div class="bgimg homemonika">
  <div class="ptext">
    <span class="box">
      MONIKA
    </span>
  </div>
</div>
<section class="section section-dark">
  <div>
    As a teenager she used to spent few hours daily in a stable. Taking part in the competition in dressage, show jumping and eventing was what she wanted to do all the time. Then she met Greg and he turned her life upside down. She started traveling and she learned how to kitesurf. Now she is passionate for strapless kitesurfing, but one day horses will come back to her life.
  </div>
</section>
<div class="bgimg homegreg">
  <div class="ptext">
    <span class="box">
      GREG
    </span>
  </div>
</div>
<section class="section section-dark">
  <div>
    Sportsman from a young age. Especially he
    likes all kind of board sports. Nature enthusiast, his best way to relax is to feel the smell of the forest and the wind in his hair. In winter he loves to hit the backcountry, fresh light snow is the best for him. Summertime he switches his snowboard for surfboard, with or without a kite.<br />Bigger wave = better day!
  </div>
</section>
<div class="bgimg home1">
  <div class="ptext">
    <span class="box">
      PASSION WITH LOVE
    </span>
  </div>
</div>

