* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
}

.bgimg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* For parallax effect */
  background-attachment: fixed;
  height: 95vh;
  width: 100%;
}

.home1 {
  background-image: url("../../assets/Home/Home1.JPG");
}

.homemonika {
  background-image: url("../../assets/Home/HomeMonika.JPG");
  height: 60vh;
}

.homegreg {
  background-image: url("../../assets/Home/HomeGreg.jpg");
  height: 60vh;
}

.home2 {
  background-image: url("../../assets/Home/Home2.jpg");
}

.section {
  text-align: center;
  padding: 50px 80px;
  background-color: #282e34;
  color: #ddd;
  align-items: center;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
}

.box {
  background-color: #282e34;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
  border: 0;
}

@media screen and (max-width: 800px) {
  .homegreg {
    background-position: 0px;
  }
}

@media screen and (max-width: 550px) {
  .homegreg {
    background-position: -100px;
  }

  .ptext {
    font-size: 20px;
    letter-spacing: 4px;
  }

  .section {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 370px) {
  .ptext {
    font-size: 16px;
    letter-spacing: 2px;
  }
}
