.travel {
  background-image: url("../../assets/Travel/Travel.JPG");
}

/* .scroll {
  scroll-snap-type: y proximity;
  overflow: scroll;
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 0;
  background-color: #2f353b;
  color: #ddd;
  /* scroll-snap-align: center; */
}

.card h5 {
  text-transform: uppercase;
}

.card-text {
  padding: 30px;
}

.card-body {
  padding: 40px;
}
