<!--Photo-->
<div class="bgimg travel">
  <div class="ptext">
    <span class="box">
      WANDERLUST
    </span>
  </div>
</div>
<!--Text-->
<section class="section section-dark">
  <div class="container-fluid">
    <p>
      We had a plan to travel around the world but it turned out to be
      exhausting. Instead we have decided on taking shorter trips. With this idea we were able to enjoy every country we have visited and that is what we highly recommend! Taking instructor jobs while traveling helped us to stay afloat. Below we are presenting best places we have already visited. But you need to be careful: travelling is very addictive!
    </p>
    <!-- <button class="btn btn-dark" (click)='onStoreExpands()'>Store Expands</button> -->


    <!--<button class="btn btn-dark" (click)='onDeleteAllExpands()'>Delete all Expands</button>
    <p *ngIf='fetchedExpandsArray.length <1 && !isFetching'>No data fetched</p>
   <ul class="list-group" *ngIf='fetchedExpandsArray.length >=1 && !isFetching'>
     <li class="list-group-item" *ngFor='let fetchedExpand of fetchedExpandsArray'>
      <h3>{{fetchedExpand.title}}</h3>
      <p>{{fetchedExpand.content}}</p>
   </li>
  </ul>
  <p *ngIf='isFetching && !error'>Loading...</p>
  <div class="alert alert-danger" *ngIf='error'>
    <h4>An error occurred!</h4>
    <p>{{ error }}</p>
    <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
  </div> -->
  </div>
</section>

<!-- DIFFERENT LAYOUT DEPENDS ON SCREEN SIZE -->
<div [ngSwitch]="(isScreenSmall$ | async)">

<!-- CARDS -->

<!-- IGUAZU -->
<div class="card text-center">
  <div class="row no-gutters">
    <!-- Photo first on bigger screens -->
    <div class="col-md-7" *ngSwitchCase="false">
      <img class="img-fluid" src="../../assets/Travel/Expand/Iguazu/IguazuF.JPG">
    </div>
       <div class="col-md-5 align-self-center">
        <div class="card-body">
          <h5 class="card-title">Iguazu</h5>
          <p class="card-text">One of the biggest waterfall in the world</p>
          <button class='btn btn-dark' (click)="openModal(1)">Read more...</button>
        </div>
      </div>
      <!-- Photo after text on smaller screens -->
    <div class="col-md-7" *ngSwitchCase="true">
      <img class="img-fluid" src="../../assets/Travel/Expand/Iguazu/IguazuF.JPG">
    </div>
  </div>
</div>

<!-- PHILIPPINES -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">The Philippines</h5>
        <p class="card-text">Beaches of Boracay, good vibes of Siargao.</p>
        <button  class='btn btn-dark' (click)="openModal(2)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7">
      <img class="img-fluid" src="../../assets/Travel/Expand/Philippines/PhilipF.jpg">
    </div>
  </div>
</div>

<!-- COSTARICA -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-7" *ngSwitchCase="false">
      <img class="img-fluid" src="../../assets/Travel/Expand/Costa/CostaF.jpg">
    </div>
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Costarica</h5>
        <p class="card-text"> The best destination for wild life lovers</p>
        <button  class='btn btn-dark' (click)="openModal(3)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7" *ngSwitchCase="true">
      <img class="img-fluid" src="../../assets/Travel/Expand/Costa/CostaF.jpg">
    </div>
  </div>
</div>

<!-- PERU -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Peru</h5>
        <p class="card-text">Huarascan National Park? Canyon Colca? Or Machu Picchu?</p>
        <button class='btn btn-dark' (click)="openModal(4)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7">
      <img class="img-fluid" src="../../assets/Travel/Expand/Peru/PeruF.JPG">
    </div>
  </div>
</div>

<!-- BOLIVIA -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-7"  *ngSwitchCase="false">
      <img class="img-fluid" src="../../assets/Travel/Expand/Bolivia/BoliviaF.JPG">
    </div>
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Bolivia</h5>
        <p class="card-text">With the biggest mirror in the world</p>
        <button class='btn btn-dark' (click)="openModal(5)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7"  *ngSwitchCase="true">
      <img class="img-fluid" src="../../assets/Travel/Expand/Bolivia/BoliviaF.JPG">
    </div>
  </div>
</div>


<!-- COLOMBIA -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Colombia</h5>
        <p class="card-text">Positive vibes, lovely nature and great food!</p>
        <button class='btn btn-dark' (click)="openModal(6)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7">
      <img class="img-fluid" src="../../assets/Travel/Expand/Columbia/ColumbiaF.JPG">
    </div>
  </div>
</div>

<!-- ECUADOR -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-7"  *ngSwitchCase="false">
      <img class="img-fluid" src="../../assets/Travel/Expand/Ecuador/EcuadorF.jpg">
    </div>
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Ecuador</h5>
        <p class="card-text">South America in a nutshell</p>
        <button class='btn btn-dark' (click)="openModal(7)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7"  *ngSwitchCase="true">
      <img class="img-fluid" src="../../assets/Travel/Expand/Ecuador/EcuadorF.jpg">
    </div>
  </div>
</div>

<!-- VIETNAM -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Vietnam</h5>
        <p class="card-text">3000km, 2 months, 1 tired motorbike</p>
        <button class='btn btn-dark' (click)="openModal(8)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7">
      <img class="img-fluid" src="../../assets/Travel/Expand/VietNam/VietnamF.jpg">
    </div>
  </div>
</div>

<!-- GREECE -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-7"  *ngSwitchCase="false">
      <img class="img-fluid" src="../../assets/Travel/Expand/Greece/GreeceF.JPG">
    </div>
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Greece</h5>
        <p class="card-text">If you want to kitesurf there is no better place than Greece.</p>
        <button class='btn btn-dark' (click)="openModal(9)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7"  *ngSwitchCase="true">
      <img class="img-fluid" src="../../assets/Travel/Expand/Greece/GreeceF.JPG">
    </div>
  </div>
</div>
<!-- <p>great food, great wind, great school, do you need something more? Perfect spot for watersport. Thanks to Wind4Fun station we had opportunity to spend few wonderful years there. Our second home! </p> -->

<!-- ALPES -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Alpes</h5>
        <p class="card-text">Our best snowboard destination.</p>
        <button class='btn btn-dark' (click)="openModal(10)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7">
      <img class="img-fluid" src="../../assets/Travel/Expand/Alpes/AlpesF.jpg">
    </div>
  </div>
</div>
<!-- <p>Switzerland for great accomodation and perfect off piste riding.
France for snowparks. Italy for the weather. All Alpes for views! With SnowEvents we have visited few great resorts!
</p> -->

<!-- NICARAGUA -->
<div class="card text-center">
  <div class="row no-gutters">
    <div class="col-md-7"  *ngSwitchCase="false">
      <img class="img-fluid" src="../../assets/Travel/Expand/Nica/NicaF.jpg">
    </div>
    <div class="col-md-5 align-self-center">
      <div class="card-body">
        <h5 class="card-title">Nicaragua</h5>
        <p class="card-text">Are you looking for great surfing destination? Look no more!</p>
        <button class='btn btn-dark' (click)="openModal(11)">Read more...</button>
      </div>
    </div>
    <div class="col-md-7"  *ngSwitchCase="true">
      <img class="img-fluid" src="../../assets/Travel/Expand/Nica/NicaF.jpg">
    </div>
  </div>
</div>
</div>
<!-- <p>City? Dirt and mess everywhere, Before bus trip dozen of sellers in your bus. Countryside? Empty bumpy roads, mobile vegetable market, chill on the beach and wonderful waves for any level</p> -->

<app-travel-expand id='expand'>
  <!-- <ng-content></ng-content> -->
</app-travel-expand>
