<p>travel works!</p>
<div class="pimg10">
  <div class="ptext">
    <span class="border">
      WANDERLUST
    </span>
  </div>
</div>
<section class="section">
  <div>
    <p>
      We had a plan to travel around the world but it turned out to be
      exhausting. Instead we have decided on taking shorter trips. With this idea we were able to enjoy every country we have visited, that is what we highly recommend! Work as a instructors while traveling helped us to stay afloat. Below we are presenting best places we have already visited. But you need to be careful: traveling is addictive!
    </p>
    <br />
    <p>
      1.<br />On the border between Agrentina and Brazil you can find Iguazu. Most amazing place we have seen so far, Monika's childhood dream. Iguazu is a set of 275 minor waterfalls, big mass of water in falling down every second (1700m2). Worth every penny!
    </p>
    <br />
    <p>
      2.<br />
      Wonderful beaches in Philippines. Boracay's Whitebeach with it's white sand and clear crystal water is great before/after highseason. And an amazing underwater world! Siargao island offers great waves for surfing and beautiful landscapes both on the coast and inland. Filipinos are very friendly and always willing to help. The best destination for longer holidays.
    </p>
    <br />
    <p>
      3.<br />
      Wild fauna and flora in CostaRica. Monkeys jumping above your head, huge sea turtles in the water and hunting pelicans are just small part of costarican wildlife. Deeper in the jungle you can find way more, but it is not always good idea to look for more.
    </p>
    <br />
    <p>
      4.<br />
      Canyon Colca in Peru. One of the deepest canyons in the world (3270m - twice as deep as Grand Canyon in the USA). Huge space between steep sides is a great place for biggest flying birds in the world. Condors weight up to 15 kg and their wingspan could be even 320cm! Just imagine these enormous animals flying few meters above your head!
    </p>
    <br />
    <p>
      5.<br />
      Salar de Uyuni in Bolivia is the world's largest salt flat (over
      10,000 square kilometers). During dry season we can see hexagonal salt
      formations on the surface. Following rain Uyuni transforms into the
      world's biggest mirror. Unforgettable view...
    </p>
    <br />
    <p>
      6.<br />
      TO REWRITE Whole Wietnam is a beautiful country, but what we found the most
      interesting was the limestone formations in Ha Long Bay and in Tam Coc
      province. In Ha Long Bay we can see many islands on the water while
      Tam Coc has a very similar view but islands are between rice fields.
      Both of them are great.
    </p>
  </div>
</section>
