.travel {
  background-image: url("../../assets/Travel/Travel.JPG");
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 0;
  background-color: #2f353b;
  color: #ddd;
}

.card h5 {
  text-transform: uppercase;
}

.card-text {
  padding: 30px;
}

.card-body {
  padding: 40px;
}

.top {
  display: flex;
  justify-content: center;
  background-color: #282e34;
  padding: 20px 10px 5px;
}
