
<app-header id='appHeader'></app-header>

<div>
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="row">
    <div class="col-sm-12 col-md-6 icons">
      <p>@2020 SikorkiNaSzlaku</p>
      <a href="https://www.instagram.com/sikorkinaszlaku/"
        target="_blank">
        <fa-icon [icon]="faInstagram" size="3x"></fa-icon>
      </a>
      <a href="https://www.facebook.com/sikorkinaszlaku/"
        target="_blank">
        <fa-icon [icon]="faFacebook" size="3x"></fa-icon>
      </a>


    </div>
    <div class="col-sm-12 col-md-6 partners align-middle">
    Kitesurfing photos taken by the great
    <a href="https://www.facebook.com/Prasonisi-Photo-109380803746091/"
    target="_blank">
      Jan Smoliński
      </a><br />
      Snowboard photos taken by wonderful
      <a href="https://www.facebook.com/Agnieszka-Zaj%C4%85c-Fotografia-1624950820922078/?__tn__=%2Cd%2CP-R&eid=ARD_JVBOo6ySbtlsUYUrxgqBIQ86ykCw-8wldyvSp1qhtig0St99VXqj4heq9hsS12Fzclh6pmG2mOU_"
      target="_blank">Agnieszka Zając</a><br />
      Many thanks for amazing lycras to our partner
      <a href="https://www.nevrboard.com" target="_blank">Nevrboard</a><br />
    </div>
  </div>
</footer>

