footer {
  clear: both;
  background-color: #282e34;
  color: rgb(136, 135, 135);
  text-align: center;
  font-size: small;
}

footer a {
  text-decoration: none;
  color: rgb(212, 212, 212);
  border: solid 1px;
  border-radius: 5px;
  border-color: rgb(49, 51, 59);
  padding: 2px;
}
