<ng-container *ngFor="let travelExpand of travelExpands; let i = index">
  <div class="expand" *ngIf='i === expandId-1'>
    <div class="container col-lg-8 expand-body no-gutters">
      <button class='btn btn-dark float-right' (click)="closeModal()">X</button>
      <div class="row">
        <div class="col-lg-7">
          <!-- width="640" height="360" -->
          <iframe appVideoSrc src="" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5 text">
          <p>{{travelExpand.textContent}}</p>
        </div>
        <br><br>

        <ngb-carousel class="col-12">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="travelExpand.photoOne">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="travelExpand.photoTwo">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="travelExpand.photoThree">
            </div>
          </ng-template>
        </ngb-carousel>

      </div>
    </div>
  </div>
</ng-container>
<div class="expand-background" #expandBackground></div>

