.photos {
  padding-top: 25px;
}

app-travel-expand {
  display: none;
}

.row {
  justify-content: center;
}

iframe {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.expand {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  overflow: auto;
}

.expand-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 80;
}

.expand-body {
  padding: 20px 20px 20px 55px;
  background: #fff;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.expand-body button {
  margin-top: 5px;
}

.col-12 {
  padding-left: 0;
  padding-right: 0;
}

ngb-carousel {
  margin-top: 25px;
  outline: none;
}

ngb-carousel a {
  padding: 0;
}

ngb-carousel img {
  width: 100%;
}

/* OPEN CLASS NEEDED WHEN OPENING MODAL */
body.expand-open {
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .expand-body {
    margin-top: 0;
  }

  .text {
    margin-top: 20px;
  }
}

@media screen and (max-width: 680px) {
  .expand-body {
    padding: 5px 0px 20px 30px;
    margin: auto;
  }

  .expand-body button {
    margin: 0 5px 0 0;
  }

  .video {
    margin-top: 15px;
  }

  .photos {
    padding: 20px 0 0 20px;
  }
}
