<div class="expand">
  <div class="expand-body">

  {{travelExpand.textContent}}  {{travelExpand.id}}
      <!-- <ng-content></ng-content> -->
      <!-- <div *ngIf="expandId === travelExpand.id" >{{ travelExpand.textContent }}
        <div class='col-xs-12 photos no-gutters'>
          <img class='col-4' [src]="travelExpand.photoOneContent">
          <img class='col-4' [src]="travelExpand.photoTwoContent">
          <img class='col-4' [src]="travelExpand.photoThreeContent">
        </div>
      </div> -->
  <button class='btn btn-dark float-right' (click)="closeModal();">Close</button>
  </div>
</div>
<div class="expand-background"></div>
