/* .photos {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

img {
  max-width: 33vw;
  max-height: auto;
} */

app-travel-expand {
  /* modals are hidden by default */
  display: none;
}

.row {
  justify-content: center;
}

iframe {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.expand {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 90;
  /* enables scrolling when modal is bigger than the screen */
  overflow: auto;
}

.expand-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  /* z-index must be between modal and everything else  */
  z-index: 80;
}

.expand-body {
  padding: 20px;
  background: #fff;
  margin: 40px;
  margin-top: 80px;
  width: 90%;
  z-index: 100;
}

.expand-body button {
  margin-top: 5px;
}

/* OPEN CLASS NEEDED WHEN OPENING MODAL!! */
body.expand-open {
  /* body overflow is hidden -> when modal window is open our main page is not scrollable */
  /* if it is not working - view encapsulation none */
  overflow: hidden;
}

.outer {
  background: red;
}

.inner {
  background: yellow;
  z-index: 100;
}

@media screen and (max-width: 680px) {
  .expand-body {
    padding: 10px;
    background: #fff;
    margin: auto;
    height: 100vh;
  }
}
