<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <!-- LOGO -->
  <a class="navbar-brand" href="#">
    <img class='img-fluid' src="../../assets/SnSlog.png">
  </a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <!-- Unicode Character for hamburger icon -->
    &#9776;
  </button>
<!-- MAIN NAV -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
        <a class="nav-link" routerLink='/' (click)="isMenuCollapsed = true">HOME</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/travel' (click)="isMenuCollapsed = true">TRAVEL</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/contact' (click)="isMenuCollapsed = true">CONTACT</a>
      </li>
    </ul>
    <ul class='navbar-nav'>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/auth' (click)="isMenuCollapsed = true" *ngIf="!isAuthenticated">LOGIN</a></li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/auth' (click)="isMenuCollapsed = true" *ngIf="isAuthenticated">LOGOUT</a></li>
    </ul>
  </div>

</nav>

