<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <!-- LOGO -->
  <a class="navbar-brand" href="#">
    <img class='img-fluid' src="../../assets/SnSlog.png">
  </a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <!-- Unicode Character for hamburger icon -->
    &#9776;
  </button>
<!-- MAIN NAV -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-between">
    <ul class="nav navbar-nav">
      <li routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>
        <a class="nav-link" routerLink='/' (click)="isMenuCollapsed = true">HOME</a>
      </li>
      <li routerLinkActive='active' *ngIf="isAuthenticated">
        <a class="nav-link" routerLink='/travel' (click)="isMenuCollapsed = true" >TRAVEL</a>
      </li>
      <li routerLinkActive='active' *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink='/travelsubs' (click)="isMenuCollapsed = true" >TRAVEL</a>
      </li>
      <li routerLinkActive='active'>
        <a class="nav-link" routerLink='/contact' (click)="isMenuCollapsed = true">CONTACT</a>
      </li>
    </ul>
    <ul class='nav navbar-nav log'>
      <li routerLinkActive='active'>
        <a class="nav-link float-right" routerLink='/auth' (click)="isMenuCollapsed = true" *ngIf="!isAuthenticated">LOGIN</a></li>
      <li routerLinkActive='active'>
        <a class="nav-link" routerLink='/auth' (click)="isMenuCollapsed = true" (click)='onLogout()' *ngIf="isAuthenticated">LOGOUT</a></li>
    </ul>
  </div>
</nav>

